<%= render "shared/header" %>

<%= form_with(model: @blog, local: true) do |form| %>

<p class="edit-text">編集</p>

<p class="form-tag1">タイトル</div>
<div class="title-field"><%= form.text_field :title,  class:"form-tag-box"%></div>




<div class="form-tag2">内容</div>
<div class="content-field"><%= form.text_field :content,  class:"content-box" %></div>
  

    
<div class="form-tag3">時間</div>
<div class="time-field"><%= form.datetime_select :start_time%></div>
  


  <div class="submit-field">
    <%= form.submit class:"submit-box" %>
  </div>

<% end %>

<%= render "shared/footer" %>